{% assign curricula = "swc-gapminder|swc-inflammation"  | split: "|" %}
{% unless curricula contains site.curriculum %}
{% include warning-curriculum.html %}
{% endunless %}

<div id="shell">
  <h3>The Bash Shell (for Windows users only)</h3>
  <p>
    Bash can be accessed using the "Git Bash" program on Windows. <br>
	Download and install Git for Windows using the following link <a href="https://github.com/git-for-windows/git/releases/download/v2.49.0.windows.1/Git-2.49.0-64-bit.exe">https://gitforwindows.org/</a>. <br> 
	The link will download an .exe file of the setup to install Git Bash. <br>
</p>
  <h4>Video Tutorial</h4>
<div class="yt-wrapper2">
    <div class="yt-wrapper">
        <iframe src="https://www.youtube-nocookie.com/embed/339AEqk9c-8?modestbranding=1&playsinline=1&iv_load_policy=3&rel=0" class="yt-frame" allowfullscreen></iframe>
    </div>
</div>

<hr class="divider">
</div>

{% if site.flavor == "r" %}
{% include install_instructions/r.html %}
{% elsif site.flavor == "python" %}
{% include install_instructions/python.html %}
{% elsif site.flavor == "FIXME" %}
{% include install_instructions/r.html %}
{% include install_instructions/python.html %}
{% else %}
{% include warning-flavor.html %}
{% endif %}

{% comment %}
The following setup instructions are commented out because Carpentries workshops
cover the these topics less frequently. Please uncomment the lines that
correspond to the topics covered in your workshop.

{% include install_instructions/sql.html %}
{% include install_instructions/openrefine.html %}
{% endcomment %}
